p {
    font-family: Arial;
}

h1 {
    font-family: Georgia;
}

h2 {
    font-family: Verdana;
}

h3 {
    font-family: Trebuchet MS;
}
h4 {
    font-family: Impact;
}
th {
    font-family: Comic Sans MS;
}
td {
    font-family: Courier New;
}
